.nav-div{
   
   background-color: white;
   width: 1072px;
   height: 151px;
   border-radius: 24px;
   padding: 20px 30px 20px 40px;
  font-weight: 600;
  
}

.nav-head{
    padding: 5px 30px 9px 2px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
  
}

.icon-div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.inside-icon-div{
  display: flex;
  gap: 10px;

}
.inside-icon-div-two{
  display: flex;
  align-items: center;
  gap: 3px;

}

.debug{
  width: 22px;
  height: 24px;
}
.Icon{
  width: 20px;
  height: 21px;
}
.EN{
 
  width: 20px;
  height: 11px;
}
.Vector{

  width: 10px;
  height: 9px;
  
}


.nav-inside-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question{
  padding-right: 24px;
}

.nav-ul{
  display: flex;
  justify-content: left;
  font-size: 17px;

}

.lines{

    display: inline-flex;
    gap: 50px;
  
}


.button-color{
  background-color: rgb(232, 238, 241);
  color: rgb(0, 89, 255);
  padding: 10px 10px;
  border-radius: 24px;
}






/*
@media only screen and (max-width: 1200px) {
  .nav-div{
    width: 80%; 
    height: 50%;
    color: lightcoral; 
  }
}

@media only screen and (max-width: 992px) {
  .nav-div{
    width: 80%; 
    height: 50%;
    color: lightgreen; 
  }
} */