.nav-div{
   
   background-color: white;
   width: 1510px;
   height: 145px;
   border-radius: 24px;
   padding: 20px 30px 20px 40px;
  font-weight: 600;
  

  
}


.nav-head{
    padding: 5px 30px 9px 2px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
  
}
.hr-line{
  
}

.icon-div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.inside-icon-div{
  display: flex;
  gap: 10px;
}
.inside-icon-div-two{
  display: flex;
  gap: 1px;

}

.debug{
  width: 24px;
  height: 24px;
}
.Icon{
  width: 21px;
  height: 21px;
}
.EN{
  margin-top: 5px;
  width: 20px;
  height: 11px;
}
.Vector{
  margin-top: 6px;
  width: 10px;
  height: 9px;
  
}





.nav-ul{
  display: flex;
  justify-content: left;
  font-size: 17px;

}

.lines{
   

    display: inline-flex;
    gap: 50px;
  
  
}


.button-color{
  background-color: rgb(232, 238, 241);
  color: rgb(0, 89, 255);
  padding: 10px 10px;
  border-radius: 24px;
}







/* .nav-div {
  background-color: white;
  border-radius: 24px;
  padding: 20px 30px 20px 40px;
  font-weight: 600;
  max-width: 100%;
  margin: 0 auto;
}

.nav-head {
  padding: 5px 30px 9px 2px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.icon-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.inside-icon-div {
  display: flex;
  gap: 10px;
}

.inside-icon-div-two {
  display: flex;
  gap: 1px;
}

.debug {
  width: 24px;
  height: 24px;
}

.Icon {
  width: 21px;
  height: 21px;
}

.EN {
  margin-top: 5px;
  width: 20px;
  height: 11px;
}

.Vector {
  margin-top: 6px;
  width: 10px;
  height: 9px;
}

.nav-ul {
  display: flex;
  justify-content: left;
  font-size: 17px;
}

.lines {
  display: inline-flex;
  gap: 50px;
}

.button-color {
  background-color: rgb(232, 238, 241);
  color: rgb(0, 89, 255);
  padding: 10px 20px; 
  border-radius: 24px;
}


@media only screen and (max-width: 600px) {
  .nav-div {
    padding: 10px;
  }

  .nav-head {
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .nav-div {
    width: 100%;
    padding: 15px;
    height: auto;
  }

  .nav-head {
    font-size: 20px;
    padding: 10px 0;
  }

  .nav-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .lines {
    display: inline-flex;
    gap: 20px;
  }
}

@media only screen and (min-width: 768px) {
 
  .nav-div {
    padding: 20px;
  }

  .nav-head {
    font-size: 24px;
  }
}

@media only screen and (min-width: 992px) {
 
  .nav-div {
    width: 80%;
    padding: 30px;
  }

  .nav-head {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  
  .nav-div {
    width: 100%;
    padding: 40px;
  }

  .nav-head {
    font-size: 32px;
  }
} */
